.flex {
  display: flex;
}

.flex-center {
  @extend .flex;
  align-items: center;
  justify-content: center;
}

.no-shrink {
  flex-shrink: 0;
}

.click-active:active {
  opacity: 0.8;
}

.el-table {
  .el-table__header,
  .el-table__body {
    .el-table__cell {
      padding: 8px 0;
      .cell {
        padding: 0;
        padding-right: 10px;
      }
    }
  }
}
