.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex {
  display: flex;
}

.flex-center {
  @extend .flex;
  align-items: center;
  justify-content: center;
}

.no-shrink {
  flex-shrink: 0;
}

.click-active:active {
  opacity: 0.8;
}

.image {
  width: 100%;
  border-radius: inherit;
  display: inherit;
  object-fit: contain;
}

.el-table {
  .el-table__header,
  .el-table__body {
    .el-table__cell {
      padding: 8px 0;
      .cell {
        padding: 0;
        padding-right: 10px;
      }
    }
  }
}

.el-dropdown {
  display: inherit;
  font-size: inherit;
  .el-tooltip__trigger {
    outline: none;
  }
}

.song-container {
  width: 100%;
  padding-right: 14px;
  align-items: center;
  justify-content: space-between;
  .left-container {
    width: 0;
    padding-right: 30px;
    flex-grow: 1;
    align-items: center;
    .mv {
      height: 12px;
      padding: 0 2px;
      margin-left: 4px;
      border: 1px solid $primaryColor;
      font-size: 10px;
      color: $primaryColor;
      line-height: 10px;
      cursor: pointer;
    }
    .playing {
      margin-left: 4px;
      font-size: 12px;
      color: $primaryColor;
    }
  }
  .right-container {
    align-items: center;
    .icon-container {
      margin-left: 18px;
      font-size: 16px;
      cursor: pointer;
      &:first-child {
        margin-left: 0;
        font-size: 18px;
      }
    }
  }
}
